<footer class="footer">
    <div class="footer__container container">
        <h1 class="footer__title">WalleStore</h1>

        <div class="footer__content grid container row">
                <div class="footer__data col-md-3">
                <p class="footer__description">Cám ơn bạn đã luôn ủng hộ WalleStore</p>
                <div class="footer__newsletter">
                    <input type="email" placeholder="Địa chỉ email của bạn!" class="footer__input">
                    <button class="footer__button">
                        <i class='bx bx-right-arrow-alt'></i>
                    </button>
                </div>
            </div>

            <div class="footer__data col-md-3">
                <h2 class="footer__subtitle">Địa Chỉ</h2>
                <p class="footer__information">
                    176 Phan Chu Trinh. <br>
                    Vĩnh Ninh, Thành Phố Huế, T-T Huế
                </p>
            </div>

            <div class="footer__data col-md-3">
                <h2 class="footer__subtitle">Liên Hệ</h2>
                <p class="footer__information">
                    +0399712074 <br>
                    2001.huynhnguyen@gmail.com
                </p>
            </div>

            <div class="footer__data col-md-3">
                <h2 class="footer__subtitle">Mở Cửa</h2>
                <p class="footer__information">
                    Đầu năm - Cuối năm <br>
                    12h00 trưa - 3h sáng
                </p>
            </div>

        <div class="footer__group">
            <ul class="footer__social">
                <a href="" target="_blank" class="footer__social-link">
                    <i class='bx bxl-facebook'></i>
                </a>

                <a href="" target="_blank" class="footer__social-link">
                    <i class='bx bxl-instagram'></i>
                </a>

                <a href="" target="_blank" class="footer__social-link">
                    <i class='bx bxl-twitter'></i>
                </a>
            </ul>

            <span class="footer__copy text-white">
                &#169; Huỳnh Văn Nguyên.
            </span>
        </div>
    </div>
</footer>