<header class="header" id="header">
    <nav class="nav navbar navbar-expand-lg" id="navbar">
        <div class="container">
            <a class="navbar-brand nav__logo" href="#main" id="logo">
                <img src="/img/wallestore-logo.png" alt="" class="nav__logo__img">
                WALLESTORE
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span><i class='bx bx-grid-alt' ></i></span>
            </button>
            <div class="collapse navbar-collapse nav__menu" id="mynavbar">
                <ul class="navbar-nav ms-auto nav__list">
                    <li class="nav-item nav__item">
                        <a class="nav__link" href="#category">Danh Mục</a>
                    </li>
                    <li class="nav-item nav__item">
                        <a class="nav__link" href="#hot">Nổi Bật</a>
                    </li>
                    <li class="nav-item nav__item">
                        <a class="nav__link" href="#premium">Ưu Đãi</a>
                    </li>
                    <li class="nav-item nav__item">
                        <a class="nav__link" href="#product">Sản Phẩm</a>
                    </li>
                    <li class="nav-item nav__item">
                        <a class="nav__link" href="#new">Tin Tức</a>
                    </li>
                    <li class="nav-item nav__item">
                        <a class="nav__link__cart" href="cart.html">
                            <i class='bx bx-shopping-bag'></i>
                        </a>
                    </li>
                    <li class="nav-item nav__item">
                        <a class="nav__link__cart" href="/">
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </a>
                    </li>
                </ul>
                <div class="searchBox">
                    <input class="searchInput"type="text" name="" placeholder="Tìm kiếm...">
                    <button class="searchButton" href="#">
                        <i class="material-icons">
                            <i class='bx bx-search-alt-2'></i>
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <a href="#category">
        <img src="/img/hamster-scroll.png" alt="" class="home__scroll">
    </a>
</header>