<%- include("header.ejs")%>
    <div class="container">
        <form action="/create-new-product" method="POST" class="">
            <div class="form-group">
                <label>Tên Sản Phẩmc</label>
                <input type="text" class="form-control" placeholder="Nhập tên của hãng" name="name">
            </div>
            <div class="form-group">
                <label>Mô Tả Sản Phẩm</label>
                <input type="text" class="form-control" placeholder="Thêm mô tả" name="describe">
            </div>
            <div class="form-group">
                <label>Hình Minh Hoạ</label>
                <input type="file" class="form-control" placeholder="Chọn hình minh hoạ" name="image">
            </div>
            <button type="submit" class="btn btn-primary">Thêm</button>
            <a href="/product-list" class="btn btn-dark">Trở Về</a>
        </form>
    </div>
    <%- include("footer.ejs")%>