<%- include("header.ejs")%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript">
    function chooseFile(fileInput) {
        if(fileInput.files && fileInput.files[0]){
            var reader = new FileReader();
            reader.onload = function (e){
                $('#image').attr('src', e.target.result);
            }
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>
<div class="container">
    <h4>Thêm danh mục mới</h4>
    <form action="/create-new-category" method="POST"  class="needs-validation row">
        <div class="col-md-3">
            <div class="form-group was-validated">
                <label lass="form-label" for="file">Hình đại diện</label>
                <a class="btn" onclick="document.getElementById('imageFile').click(); return false;">
                    <img src="/img/category.png" class="image__hover" id="image" width="100%" height="auto">    
                </a>
                <input hidden type="file" class="form-control" name="category_image" id="imageFile" onchange="chooseFile(this)" accept="image/gif, image/jpeg, image/png" required>
                <div class="invalid-feedback text-center">
                    Yêu cầu thay đổi ảnh
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group was-validated">
                <label class="form-label" for="text">Tên danh mục</label>
                <input required class="form-control" type="text" class="form-control" placeholder="Nhập tên danh mục" name="category_name">
            </div>
            <div class="form-group">
                <label class="form-label" for="text">Mô tả</label>
                <textarea required class="form-control" type="text" class="form-control" placeholder="Thêm mô tả danh mục" name="category_describe"></textarea>
            </div>
            <div class="pt-1">
                <button type="submit" class="btn btn-outline-primary">Thêm</button>
                <a href="/category-list" class="btn btn-outline-dark">Trở về</a>
            </div>
        </div>
    </form>
  </div>
<%- include("footer.ejs")%>