<%- include("header.ejs")%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript">
    function chooseFile(fileInput) {
        if(fileInput.files && fileInput.files[0]){
            var reader = new FileReader();
            reader.onload = function (e){
                $('#image').attr('src', e.target.result);
            }
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>
<div class="container">
    <h4>Thêm Mới Hãng</h4>
    <form action="/create-new-brand" method="POST" class="row needs-validation">
        <div class="col-md-2">
            <div class="form-group was-validated">
                <label lass="form-label" for="file">Hình đại diện</label>
                <a class="btn" onclick="document.getElementById('imageFile').click(); return false;">
                    <img src="/img/brand.png" class="image__hover" id="image" width="100%" height="auto">    
                </a>
                <input hidden type="file" class="form-control" name="logo" id="imageFile" onchange="chooseFile(this)" accept="image/gif, image/jpeg, image/png" required>
                <div class="invalid-feedback text-center">
                    Yêu cầu thay đổi ảnh
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group was-validated">
                <label lass="form-label" for="text">Tên Hãng</label>
                <input type="text" class="form-control" placeholder="Nhập tên của hãng" name="brand_name" required>
            </div>
            <div class="form-group was-validated">
                <label lass="form-label" for="url">Đường Dẫn</label>
                <input type="url" class="form-control" placeholder="https://diachitrangcuahang.com"
                pattern="https://.*" name="link" value="https://" required>
            </div>
            <div class="form-group">
                <label lass="form-label" for="text">Thông Tin Thêm</label>
                <textarea type="text" class="form-control" placeholder="Thêm mô tả" name="brand_describe" required></textarea>
            </div>
            <div class="pt-1">
                <button type="submit" class="btn btn-outline-info">Thêm</button>
                <a href="/brand-list" class="btn btn-outline-dark">Trở Về</a>
            </div>
        </div>
    </form>
</div>
<%- include("footer.ejs")%>